
/*내 정보 및 로그아웃 버튼*/
.header .user-btn {
    display: flex;
    gap: 3px;
}

.header .user-btn .btn-logout {
    font-size: 13px;
    border: 0;
    width: 70px;
    height: 30px;
    color: #FFFFFF;
    background-color: #00AFB9;
    font-weight: 600;
}

.header .user-btn .btn-my {
    font-size: 13px;
    border: 1px solid #ccc;
    width: 70px;
    height: 30px;
    color: #666;
    background-color: #FFFFFF;
    font-weight: 600;
}



/*드롭다운*/
.header .header-menu .drop-menu2 {
    border-radius: 0;
    box-shadow: none;
    margin-top: 35px;
    margin-left: -35px;
    min-width: 70px;
}


.header .header-menu .drop-menu2 a {
    color: #333;
    font-size: 15px;
}

.drop-list2:hover, .drop-list2:focus {
    text-decoration: underline;
    background-color: #FFFFFF;
}


/*--------------------------------------*/

/* 게시글 목록 */

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
}

thead th {
    background-color: #f9f7f3;
    font-weight: bold;
}



td.td_num {
    width: 10%;
}

td.td_subject {
    width: 30%;
}

td.td_datetime {
    width: 15%;
}

td.td_hits {
    width: 10%;
}

td.td_likes {
    width: 25%;
}


th, td {
    border-bottom: 1px solid #e7e7e7;
}



 #board-list tbody .td_subject a {
    color: black;
    font-weight: normal;
} 

.bo_notice .td_subject a {
    font-weight: 900;
}




tr:not(.bo_notice) .td_subject a {
    font-weight: normal; 
}




/*토글 탭*/
.toggle-list .toggle > li {    
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.toggle-menu {
    display: none;
}

.active {
    display: block; animation: fadeIn 0.5s ease-in-out;
}


/*페이지 번호*/
.page-list {
    text-align: center;
}

.page-number .pagination > li > a {
    border: 0;
}
